:root {
    box-sizing: border-box;

}

body {
    font-family: 'Lobster', cursive;
}

.header-p {
    font-size: 150%;
    font-weight: 100;
}

h1 {
    font-weight: 700;
}

.custom-header {
    padding: 35px;
}

.btn {
   margin-left: 5px;
   margin-right: 5px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    font-size: 120%;
}
 
#brand-logo {
    padding-left: 30px;
}

#links {
    padding-right: 20px;
}

#results {
    justify-content: center;
    text-align: center;   
}

h2 {
    font-size: 400%;
    font-weight: 300;
}

.photo-div img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.list {
    display: inline-block;
}

#ingredient-list {
    margin-right: px;
}

#measurement-list {
    padding-left: 20px;
}
 /* style */